<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spotify Search</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <style>
        body {
            background-color: #91ef6590;
        }

        .table-container {
            max-height: 400px;
            overflow-y: auto;
            margin-bottom: 20px;
        }

        table {
            border: 1px solid #000000;
            border-collapse: collapse;
            margin-bottom: 20px;
            width: 100%;
        }

        th, td {
            border: 1px solid hwb(122 2% 44%);
            padding: 8px;
            text-align: left;
        }

        #searchInput {
            width: 100%;
            max-width: 400px;
        }
    </style>
</head>

<body>
    <div class="container mt-5">
        <h1>Spotify Search</h1>

        <form id="searchForm">
            <div class="mb-3">
                <label for="searchInput" class="form-label">Nombre de la canción:</label>
                <input type="text" class="form-control" id="searchInput" name="id" maxlength="50" required>
            </div>
            <button type="button" class="btn btn-primary" onclick="searchSpotify()">Search</button>
        </form>

        <div class="row">
            <!-- Tabla de resultados -->
            <div class="col-lg-6 col-md-12">
                <div class="table-container">
                    <h2>Resultados de Búsqueda</h2>
                    <div id="results"></div>
                </div>
            </div>

            <!-- Columna para Canciones Seleccionadas y Recomendaciones -->
            <div class="col-lg-6 col-md-12">
                <!-- Tabla de Canciones Seleccionadas -->
                <div class="table-container">
                    <h2>Canciones Seleccionadas</h2>
                    <div id="selectedResults"></div>
                </div>

                <!-- Tabla de Recomendaciones -->
                <div class="table-container">
                    <h2>Recomendaciones</h2>
                    <div id="recommendations"></div>
                </div>
            </div>
        </div>

    </div>


    <script>
        function searchSpotify() {
            var id = document.getElementById("searchInput").value;
            var url = "http://localhost:5000/v1/spotify/?track_name=" + id;

            fetch(url)
                .then(response => response.json())
                .then(data => displayResults(filterColumns(data)))
                .catch(error => console.error('Error:', error));
        }

        function filterColumns(dataComplete) {
            data = dataComplete.song;
            console.log("🚀 ~ file: index.html:39 ~ filterColumns ~ data:", data)
            var filteredData = [];
            for (var i = 0; i < data.length; i++) {
                var row = {};
                row["track_name"] = data[i]["track_name"];
                row["track_artist"] = data[i]["track_artist"];
                row["track_album_name"] = data[i]["track_album_name"];
                row["playlist_genre"] = data[i]["playlist_genre"];
                row["track_album_release_date"] = data[i]["track_album_release_date"];
                filteredData.push(row);
            }
            return filteredData;
        }

        function displayResults(data) {
            var resultsDiv = document.getElementById("results");
            var selectedDiv = document.getElementById("selectedResults");
            var recommendationsDiv = document.getElementById("recommendations");

            // Limpiar resultados anteriores
            resultsDiv.innerHTML = "";
            selectedDiv.innerHTML = "";
            recommendationsDiv.innerHTML = "<h2>Recomendaciones</h2>";

            // Crear una tabla con estilos de Bootstrap
            var table = document.createElement("table");
            table.classList.add("table", "table-bordered", "table-striped");

            // Crear encabezados de tabla con 6 columnas específicas
            var headerRow = table.insertRow(0);
            var columnHeaders = ["", "Name", "Artista", "Álbum", "Género", "Fecha"];
            for (var i = 0; i < columnHeaders.length; i++) {
                var headerCell = headerRow.insertCell(-1);
                headerCell.textContent = columnHeaders[i];
            }

            var numRowsToDisplay = 15;

            // Llenar la tabla con los datos
            for (var i = 0; i < Math.min(numRowsToDisplay, data.length); i++) {
                var row = table.insertRow(-1);

                // Crear botónes de selección y deselección
                var selectCell = row.insertCell(0);
                let selectButton = document.createElement("button");
                let deselectButton = document.createElement("button");

                // Estilo de los botones
                selectButton.classList.add("btn", "btn-success");
                selectButton.textContent = "+";

                // Utilizar una función de cierre para capturar el valor de i
                selectButton.onclick = (function (index) {
                    return function () {
                        addToSelected(data[index]);
                    };
                })(i);

                selectCell.appendChild(selectButton);
                selectCell.appendChild(deselectButton);

                // Llenar las restantes 5 columnas con datos
                for (var j = 0; j < 5; j++) {
                    var cell = row.insertCell(-1);
                    cell.textContent = data[i][Object.keys(data[i])[j]];
                }
            } 

            // Agregar la tabla al div de resultados
            resultsDiv.appendChild(table);
        }

        function addToSelected(selectedData) {
            var selectedDiv = document.getElementById("selectedResults");

            // Crear una tabla para mostrar las canciones seleccionadas
            var selectedTable = document.createElement("table");
            selectedTable.classList.add("table", "table-bordered", "table-striped");

            // Crear una fila para la nueva canción seleccionada
            var selectedRow = selectedTable.insertRow(-1);

            // Llenar las columnas con los datos de la canción seleccionada
            for (var i = 0; i < Object.keys(selectedData).length; i++) {
                var cell = selectedRow.insertCell(-1);
                cell.textContent = selectedData[Object.keys(selectedData)[i]];
            }

            // Agregar la tabla al div de canciones seleccionadas
            selectedDiv.appendChild(selectedTable);
        }
    </script>
</body>

</html>
